.wrapper {
    margin-bottom: 0;
    & ~ .wrapper {
        margin-top: 30px;
    }
}

.primary {
    color: var(--primary-color);
}

.upper {
    text-transform: uppercase;
}
.lower {
    text-transform: lowercase;
}
.capital {
    text-transform: capitalize;
}
.italic {
    font-style: italic;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.justify {
    text-align: justify;
}

.title {
    padding-bottom: 15px;
    font-size: 4rem;
}
.paragraph {
    font-size: 2rem;
}
