@import 'normalize.css';

:root {
    --primary-color: #c770f0;
    --white-color: #fff;
    --black-color: #000;
    --font-family: Raleway, serif !important;
    // Header
    --default-header-height: 69px;
    --default-logo-height: 38px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family) !important;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a,
a:hover {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Fonts enmbeded
@font-face {
    font-family: Raleway;
    src: url('/assets/fonts/Raleway.woff2');
}
