@import 'normalize.css';

:root {
    --primary-color: #c770f0;
    --white-color: #fff;
    --black-color: #000;
    --font-family: Raleway, serif !important;
    --image-gradient: linear-gradient(to bottom left, hsla(0, 3%, 6%, 0.678), rgba(12, 10, 22, 0.863));
    // Header
    --default-header-height: 69px;
    --default-logo-height: 38px;
    --section-padding-top: 144px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family) !important;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--white-color);
    overflow-y: overlay;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(270deg, #1b1429, #140f23);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a,
a:hover {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Fonts enmbeded
@font-face {
    font-family: Raleway;
    src: url('/assets/fonts/Raleway.woff2');
}
