.wrapper {
    width: 100%;
    height: var(--default-header-height);
    padding: 6px 32px;
    transition: background 0.3s ease;
    font-size: 1.8rem;
    &.sticky {
        backdrop-filter: blur(15px);
        background-color: #1b1a2ea9;
        box-shadow: 0 10px 10px 0 rgba(9, 5, 29, 0.171);
    }
    button,
    a {
        font-size: 1.8rem;
    }
}
.inner {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: block;
    height: var(--default-logo-height);
    img {
        object-fit: contain;
        height: 100%;
    }
}

.nav__toggle {
    display: none;
    color: rgba(0, 0, 0, 0.55);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 2rem;
    line-height: 1;
    padding: 4px 12px;
    transition: box-shadow 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    border: none;
    outline: none;
    & > span {
        background-color: var(--primary-color);
        display: block;
        height: 4px;
        left: 0;
        margin-bottom: 5px;
        margin-top: 5px;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        width: 27px;
        transition: transform 0.35s ease-in-out;
    }
    &.show > span:nth-child(1),
    &.show > span:nth-child(3) {
        left: 12px;
        opacity: 0.9;
        position: absolute;
        top: 10px;
    }
    &.show > span:nth-child(1) {
        transform: rotate(135deg);
    }
    &.show > span:nth-child(2) {
        background-color: transparent;
        height: 12px;
        visibility: hidden;
    }
    &.show > span:nth-child(3) {
        transform: rotate(-135deg);
    }
}

@media screen and (max-width: 739px) {
    .wrapper {
        height: auto;
        padding: 16px 32px !important;
        background-color: #181a27;
    }
    .nav__toggle {
        display: block;
    }
}
